.flooring {
    .slider {
        position   : relative;
        display    : block;
        box-sizing : border-box;
        user-select: none;
        overflow   : hidden;

        .siler-list {
            transform: translate3d(0, 0, 0);

            .slider-item {
                background-size    : cover;
                background-repeat  : no-repeat;
                background-position: 40%;
                display            : flex;
                align-items        : center;
                background-image   : url('./imgFlooring/pageheader-wood3.jpg');
                height             : 40vh !important;
                min-height         : 1px;
                float              : left;
                width              : 100% !important;
                background-color   : #f1f1f1;

                .container {
                    position: relative;

                    .slide-content {
                        align-items       : center;
                        // justify-content: space-between;

                        .text {
                            overflow   : hidden;
                            width      : 100%;
                            margin-left: 35px;
                            margin-top : 200px;

                            .text-title {
                                color      : #ffffff;
                                font-size  : 55px;
                                line-height: 45px;
                                font-weight: 600;
                                text-align : center;
                            }

                            .breadcrumb-text {
                                text-align : center;
                                color      : #fff;
                                font-size  : 20px;
                                margin-top : 25px;
                                font-weight: 700;

                                svg {
                                    margin-bottom: 5px;
                                }
                            }
                        }

                        .image {
                            width: 40%;

                            img {
                                width: 100%;
                            }
                        }
                    }

                }
            }
        }
    }

    .content-flooring {
        padding-top: 30px;

        .content {
            display        : flex;
            justify-content: space-between;

            .menu-left {
                width: 30%;

                // background-color: pink;
                .menu-content {
                    width           : 100%;
                    background-color: #92602d;

                    .link-menu {
                        height    : 60px;
                        display   : flex;
                        margin-top: 2px;

                        a {
                            font-size  : 19px;
                            color      : #fff;
                            width      : 100%;
                            margin-left: 20px;
                            margin-top : 15px;
                            font-weight: 600;

                            svg {
                                margin-bottom: 12px;
                            }

                            &:hover {
                                text-decoration: none;

                            }
                        }

                        &:hover {
                            background-color: #543312;
                            cursor          : pointer;
                        }
                    }
                }
            }

            .content-right {
                width           : 67%;
                background-color: aqua;

            }
        }

    }
}