.header {
    background              : #fff !important;
    position                : fixed;
    font-size               : 16px;
    overflow                : hidden;
    margin                  : 0 auto;
    color                   : #000000;
    line-height             : 1.7;
    -webkit-text-size-adjust: 100%;
    font-family             : 'Open Sans', sans-serif;
    -webkit-font-smoothing  : antialiased;
    z-index                 : 999;
    width                   : 100% !important;

    article,
    aside,
    br,
    dialog,
    figure,
    footer,
    header,
    hr,
    main,
    menu,
    nav,
    section {
        display: block;
    }

    img,
    svg {
        vertical-align: middle;
    }


    .ant-drawer-body{
        .drawer-header{
            margin-left: 10px;
        }
    }

    .header-content {
        background-color      : rgb(255, 255, 255) !important;
        display               : flex;
        -ms-flex-wrap         : wrap;
        flex-wrap             : wrap;
        -ms-flex-align        : center;
        align-items           : center;
        -ms-flex-pack         : justify;
        justify-content       : space-between;
        // padding         : 0.5rem 1rem;
        height                : 100px;
        // top                : -20px;
    }
    .drawer{
        .drawer-logo{
            img{
                width: 100%!important;
            }
        }

    }

    .logo {
        // margin-right   : auto;
        // padding     : 22px 0;
        height: 75px;
        width : 15%;

        img {
            width : 100%;
            height: 75px;
        }
    }

    .menu {
        width          : 50%;
        margin         : 20px auto;
        display        : flex;
        justify-content: center;
        text-align     : center;

        .link {
            font-size  : 16px;
            font-weight: 800;
            color      : #543312;
            padding    : 10px 20px;

            &:hover {
                color                            : #fff;
                background-color                 : #543312;
                text-decoration                  : none;
                // animation-duration: 2s;
                -webkit-backface-visibility      : hidden;
                backface-visibility              : hidden;
                position                         : relative;
                transition                       : 0.5s color ease;
                text-decoration                  : none;
                // color                      : #81b3d2;
                // font-size                     : 2.5em;

            }

        }
        

        .dropdown {
            position: relative;
        }

        .dropdown-content {
            margin-top         : 5px;
            margin-left        : -18px;
            display            : none;
            position           : fixed;
            background-color   : white;
            min-width          : 190px;
            min-height         : 60px;
            align-items        : center;
            // box-shadow      : 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown:hover .dropdown-content {
            display                : block;
            // animation        : fadeInRight .5s ease;
            // -webkit-animation: fadeInRight .5s ease;
            // position            : absolute;
        }

        .div-for-a {
            background-color: rgb(255, 255, 255, 0);
            height          : 38px;
            padding-top     : 5px;
            margin          : 14px 10px 14px 10px;
            border-radius   : 5px;

            a {
                float: left;
            }
        }

        .div-for-a:hover {
            // background-color: rgb(255, 255, 255,1);
            background-color: #543312;

            a {
                color: #fff;
            }
        }

        .link-drop {
            text-decoration: none;
            color          : #543312;
            font-size      : 15px;
            margin-left    : 10px;
            font-weight    : 600;
            font-family    : inherit;

        }

    }

    .col-3 {
        max-width: 23% !important;
    }

    .phone {
        // margin-top: 10px;
        width: 30%;

        .phone-number {
            height       : 64px;
            line-height  : 64px;
            display      : inline-block;
            background   : #92602d;
            color        : #ffffff;
            padding      : 0 21px;
            position     : relative;
            font-size    : 17px;
            font-weight  : 600;
            border-radius: 1px;

            svg {
                font-size: 50px;
            }
        }

        .icon {
            font-size   : 30px;
            margin-right: 20px;
        }
    }

    
    
    .drawer{
        .drawer-logo{
            margin-left: 100px;
        }
    }
    
}
// .menu-mobile {
//     display: none; /* Ẩn menu trên desktop */
//   }
  
//   @media (max-width: 768px) {
//     .menu {
//       display: none; /* Ẩn menu trên mobile */
//     }
//     .drawer-menu.drawer-header.drawer-logo{
//         width: 100%!important;
//     }

  
//     .menu-mobile {
//       display: flex; /* Hiển thị menu trên mobile */
//       align-items: center;
//       justify-content: center;
//       cursor: pointer;
//       padding: 12px;
//     }
//   }