.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.containerv1{
    max-width: 1400px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes scaletoright {
  0% {
      transform       : scaleY(1) skewY(0deg);
      transform-origin: bottom;
  }

  50% {
      transform       : scaleY(0) skewY(0deg);
      transform-origin: bottom;
  }

  51% {
      transform       : scaleY(0) skewY(0deg);
      transform-origin: top;
  }

  100% {
      transform       : scaleY(0) skewY(0deg);
      transform-origin: top;
  }
}

.cssanimation {
  animation-duration : 1s;
  animation-fill-mode: both;
}

.transition {
  -webkit-animation: scaletoright 3000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
  animation        : scaletoright 3000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.overlay {
  background      : #fff;
  z-index         : 999;
  position        : fixed; 
  top             : 0%;
  left            : 0%;
  width           : 100%;
  height          : 100%;
  transform       : scaleY(0);
  transform-origin: both
}


.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
  margin-left: -60px;
  margin-top: -60px;
}
.loader-content{
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -100%);
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
}
.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top,#000000,rgba(0,0,0,0));
  animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba(142, 73, 3, 0.8);
}
@keyframes rotate { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}}

