.all-services {
    padding-bottom: 20px;

    .slider {
        position   : relative;
        display    : block;
        box-sizing : border-box;
        user-select: none;
        overflow   : hidden;

        .siler-list {
            transform: translate3d(0, 0, 0);

            .slider-item {
                background-size    : cover;
                background-repeat  : no-repeat;
                background-position: 40%;
                display            : flex;
                align-items        : center;
                background-image   : url('./imgFlooring/pageheader-wood3.jpg');
                height             : 60vh !important;
                min-height         : 1px;
                float              : left;
                width              : 100% !important;
                background-color   : #f1f1f1;

                .container {
                    position: relative;

                    .slide-content {
                        align-items       : center;
                        // justify-content: space-between;

                        .text {
                            overflow   : hidden;
                            width      : 100%;
                            margin-left: 35px;
                            margin-top : 200px;

                            .text-title {
                                color      : #ffffff;
                                font-size  : 55px;
                                line-height: 45px;
                                font-weight: 700;
                                text-align : center;
                            }

                            .breadcrumb-text {
                                text-align : center;
                                color      : #fff;
                                font-size  : 20px;
                                margin-top : 25px;
                                font-weight: 700;

                                svg {
                                    margin-bottom: 5px;
                                }
                            }
                        }

                        .image {
                            width: 40%;

                            img {
                                width: 100%;
                            }
                        }
                    }

                }
            }
        }
    }

    .our-services {
        padding-top           : 50px;
        // background-image   : url('./img/our-service.jpg');
        background-size       : cover;
        background-repeat     : no-repeat;
        // background-position: 50%;
        height                : 750px;
        display               : flex;

        .img-service {
            width : 552%;
            border: 1px solid #d3d3d3;

            &:hover {
                img {
                    -webkit-transform: scale(1.3);
                    transform        : scale(1.02);
                }
            }
        }

        .title-service {
            color     : #fff;
            text-align: center;

            h3 {
                font-size  : 30px;
                font-weight: 700;
                margin-top : 40px;
            }
        }

        .row {
            display        : flex;
            flex-direction : row;
            justify-content: space-around;
            align-items    : center;
            flex-wrap      : wrap;
            width          : 100%;
            margin-top     : 4rem;
        }

        .slick-track {
            margin-top: 70px;
            height    : 560px;
        }

        .slick-prev,
        .slick-next {
            font-size       : 0;
            line-height     : 0;
            position        : absolute;
            // top          : 50%;
            display         : block;
            width           : 20px;
            height          : 20px;
            padding         : 0;
            transform       : translate(0, -50%);
            cursor          : pointer;
            color           : transparent;
            border          : none;
            outline         : none;
            margin-top      : 360px;
            background      : #fff;
            width           : 60px;
            height          : 60px;
            border          : 2px solid #92602d !important;
            border-radius   : 50%;

            &:hover {
                // background-color: #92602d !important;
                color: #ffffff !important;
            }
        }

        .slick-prev:before,
        .slick-next:before {
            font-family              : 'slick';
            font-size                : 30px;
            line-height              : 1;
            opacity                  : 1;
            // color                 : black;
            -webkit-font-smoothing   : antialiased;


        }

        .slick-prev {
            margin-left: 47%;
        }

        .slick-next {
            margin-right: 47%;
        }

        .slick-prev:before {
            content    : '❮';
            font-size  : 30px;
            color      : #92602d;
            font-weight: 700;


        }

        .slick-next:before {
            content    : '❯';
            color      : #92602d;
            font-size  : 30px;
            font-weight: 700;

        }

        .col-3 {
            height          : 100%;
            // margin       : 5px;  
            position        : relative;
            border-radius   : 1px;
            transform       : skewY(-10deg);

        }

        img {
            border: 10px solid #fff
        }

        .text-service {
            display              : flex;
            flex-direction       : column;
            justify-content      : space-between;
            align-items          : flex-start;
            position             : absolute;
            top                  : 421px;
            left                 : 0;
            // height            : 100%;
            width                : 300%;
            padding              : 20px;
            border               : 0.7rem solid transparent;
            border-image-slice   : 1;
            cursor               : pointer;
            transition           : all 0.3s ease;
            border-radius        : 3rem;

            h2 {
                color      : #92602d;
                font-size  : 21px;
                padding    : 5px;
                margin-top : 3.5rem;
                font-family: Satoshi Black;
                font-weight: 700;
                margin-top : 65px;
            }


        }


        .buttn-slider {
            margin-top   : 5px;
            text-align   : center;
            // z-index   : 100;

            .button-1 {
                svg {
                    margin-bottom   : 5px;
                    color           : #92602d;
                    // font-weight  : 700;
                }
            }



            button {
                margin-right       : 10px;
                border-radius      : 50%;
                width              : 60px;
                height             : 60px;
                color              : #92602d;
                border             : 3px solid #92602d;
                background-color   : #fff;
                // z-index         : 100;

                svg {
                    font-size: 20px;
                }

                &:hover {
                    background-color: #92602d;
                    border          : 3px solid #92602d;

                    svg {
                        color: #fff;
                    }
                }
            }
        }
    }

    .contact {
        padding-top   : 50px;
        padding-bottom: 70px;

        .contact-content {
            margin-top: 2rem;

            .text-contact {
                text-align: center;

                .title-contact {
                    font-size              : 30px;
                    font-family            : Satoshi Black;
                    font-weight            : 700;
                    background-image       : linear-gradient(to right, #92602d, #543312);
                    color                  : transparent;
                    -webkit-background-clip: text;
                }

                .sub-contact {
                    color      : #212529;
                    font-family: Satoshi Regular;
                    font-size  : 16px;
                    font-weight: 400;

                    // margin-top : 2rem;
                }

            }

            .input-form {
                max-width    : 100%;
                height       : 70px;
                padding      : 0 30px;
                background   : #fff;
                border-radius: 1px;
                border-bottom: 0.3rem solid #92602d;
            }

            .btn-contact {
                width           : 96%;
                height          : 70px;
                padding         : 0 30px;
                background      : #fff;
                border-radius   : 1px;
                border-bottom   : 0.3rem solid #92602d;
                border-top      : 1px solid #c8c8c8;
                border-left     : 1px solid #c8c8c8;
                border-right    : 1px solid #c8c8c8;
                margin-left     : 15px;
                color           : rgb(130, 130, 130);
                // border       : 1px solid rgb(171, 171, 171);
            }

            svg {
                margin-bottom: 5px;
            }
        }

        .form-contact {
            margin-top: 40px !important;
        }
    }

}